{{#if github_unavailable}}
  <div class="github-fallback">
    <p>Projects are currently unavailable.</p>
    <a
      class="github-fallback__link"
      href="https://github.com/itacentury"
      target="_blank"
      rel="noopener noreferrer"
    >
      Visit my GitHub &#8594;
    </a>
  </div>
{{else}}
  <div class="repo-grid">
    {{#each repos}}
      <a
        class="repo-card"
        href="{{url}}"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span class="repo-card__name">{{name}}</span>
        {{#if description}}
          <span class="repo-card__desc">{{description}}</span>
        {{/if}}
        <span class="repo-card__meta">
          {{#if primary_language}}
            <span class="repo-card__lang">
              <span
                class="repo-card__lang-dot"
                style="background:{{primary_language.color}}"
              ></span>
              {{primary_language.name}}
            </span>
          {{/if}}
          {{#if stargazer_count}}
            <span class="repo-card__stars">
              <i class="fas fa-star"></i>
              {{stargazer_count}}
            </span>
          {{/if}}
        </span>
      </a>
    {{/each}}
  </div>
{{/if}}